/AdsDeliver_Server/WebRoot/WEB-INF/classes
/AdsDeliver_Server/.springBeans
/AdsDeliver_Server/src/spring-client.xml
~*
*swp
/AdsDeliverSDK/bin
/AdsDeliverSDK/gen
/AdsDeliver_SDK_Demon/bin
/AdsDeliver_SDK_Demon/gen