div.color
{
	left: auto;
	right: auto;
	margin: 10px auto 0 auto;
	padding: 3px 3px 3px 0;
	clear: both;
	overflow: hidden;
	background: #FFFFFF;
}
div.color a
{
	margin: 0 0 0 3px;
	padding: 0;
	width: 20px;
	height: 20px;
	display: block;
	float: left;
}