<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	xmlns:jaxws="http://cxf.apache.org/jaxws"  
	xsi:schemaLocation="  
    http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
    http://cxf.apache.org/jaxws   
    http://cxf.apache.org/schemas/jaxws.xsd">  
  
    <!-- address的host都改成localhost吧 -->
    <jaxws:client id="WSUserService" serviceClass="edu.tongji.se.webservice.UserService"
    	address="http://localhost:8080/AdsDeliver_Server/services/UserService">
    </jaxws:client>
    
</beans>  
