<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx 
http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/adsdeliever">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>  
                <prop key="hibernate.format_sql">true</prop> 
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>edu/tongji/se/model/Administrator.hbm.xml</value>
				<value>edu/tongji/se/model/Account.hbm.xml</value>
				<value>edu/tongji/se/model/Price.hbm.xml</value>
				<value>edu/tongji/se/model/Location.hbm.xml</value>
				<value>edu/tongji/se/model/Userinfo.hbm.xml</value>
				<value>edu/tongji/se/model/Adverinfo.hbm.xml</value>
				<value>edu/tongji/se/model/Advertisement.hbm.xml</value>
				<value>edu/tongji/se/model/User.hbm.xml</value>
				<value>edu/tongji/se/model/Record.hbm.xml</value></list>
		</property>
	</bean>
	
	
	<!-- 配置事务管理器 -->
 	<bean id="transactionManager"
     class="org.springframework.orm.hibernate3.HibernateTransactionManager">
         <property name="sessionFactory" ref="sessionFactory"/>
	 </bean>
	 
	<!-- 配置事务的传播特性 ，指定事务管理器-->
 	<tx:advice id="txAdvice" transaction-manager="transactionManager">
  	<!-- 配置详细的事务语义 -->
  		<tx:attributes>
   			<tx:method name="*" propagation="REQUIRED" />
   			
  		</tx:attributes>
 	</tx:advice>
 	
 	<!-- 哪些类的哪些方法参与事务 -->
 	<aop:config>
  		<!--配置切入点，匹配edu.tongji.se.daoImpl包下所有的类的所有方法的执行-->
  		<aop:pointcut id="allServiceMethod"
   			expression="execution(* edu.tongji.se.serviceImpl.*.*(..))" />
  		<!-- 指定在txAdvice切入点应用txAdvice事务切面 -->
  		<aop:advisor advice-ref="txAdvice" pointcut-ref="allServiceMethod" />
 	</aop:config>
	
	
	<!-- declare dao and inject sessionFactory into dao -->
	<bean id="AdministratorDAO"
		class="edu.tongji.se.daoImpl.AdministratorDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AccountDAO" class="edu.tongji.se.daoImpl.AccountDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="PriceDAO" class="edu.tongji.se.daoImpl.PriceDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="LocationDAO" class="edu.tongji.se.daoImpl.LocationDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserinfoDAO" class="edu.tongji.se.daoImpl.UserinfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdverinfoDAO" class="edu.tongji.se.daoImpl.AdverinfoDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdvertisementDAO"
		class="edu.tongji.se.daoImpl.AdvertisementDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="UserDAO" class="edu.tongji.se.daoImpl.UserDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RecordDAO" class="edu.tongji.se.daoImpl.RecordDaoImpl">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	
	<!-- declare service -->
	<bean id="adminService" class="edu.tongji.se.serviceImpl.AdminServiceImpl">
		<property name="mAdminDao">
			<ref bean="AdministratorDAO"/>
		</property>
	</bean>
	<bean id="userService" class="edu.tongji.se.serviceImpl.UserServiceImpl">
		<property name="mUserDao">
			<ref bean="UserDAO"/>
		</property>
		<property name="mUserinfoDao">
			<ref bean="UserinfoDAO"/>
		</property>
		<property name="mAccountDao">
			<ref bean="AccountDAO"/>
		</property>
	</bean>
	
	<bean id="accountService" class="edu.tongji.se.serviceImpl.AccountServiceImpl">
		<property name="mAccountDao">
			<ref bean="AccountDAO"/>
		</property>
		<property name="mRecordDao">
			<ref bean="RecordDAO"/>
		</property>
	</bean>
	
	<!-- declare action -->
	<bean id="LoginInAction" class="edu.tongji.se.action.LoginInAction">
		<property name="mAdminService">
			<ref bean="adminService"/>
		</property>
	</bean>
	
	<bean id="AdminIndexAction" class="edu.tongji.se.action.AdminIndexAction">
	</bean>
	
	<bean id="RegisterAction" class="edu.tongji.se.action.RegisterAction">
		<property name="mUserService">
			<ref bean="userService"/>
		</property>
	</bean>
	
	<bean id="UserLoginAction" class="edu.tongji.se.action.UserLoginAction">
		<property name="mUserService">
			<ref bean="userService"/>
		</property>
	</bean>
	
	<bean id="UserIndexAction" class="edu.tongji.se.action.UserIndex">
	</bean>
	
	<bean id="AccountManageAction" class="edu.tongji.se.action.AccountManageAction">
		<property name="mAccountService">
			<ref bean="accountService"/>
		</property>
		<property name="mUserService">
			<ref bean="userService"/>
		</property>
	</bean>
	
	<bean id="UserInfoAction" class="edu.tongji.se.action.UserInfoAction">
		<property name="mUserService">
			<ref bean="userService"/>
		</property>
	</bean>
	
</beans>